/* html, body {
    height: 100%;
} */



nav {
    background-color: #f9ebff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.background {
    min-height: 100vh;
    background-color: #f9ebff !important;
}

.wide-form {
    width: 100%;
}

.contest-state-text {
    border: 1px black solid;
    border-radius: 5px;
    padding: 3px 5px;
}

/* .no-highlight, .no-highlight:link, .no-highlight:hover, .no-highlight:active {
    color: inherit !important;
    text-decoration: none !important;
} */