html, body {
    height: 100%;
}

nav {
    background-color: #f9ebff !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.background {
    height: 100%;
    background-color: #f9ebff !important;
}

.wide-form {
    width: 100%;
}

/* .no-highlight, .no-highlight:link, .no-highlight:hover, .no-highlight:active {
    color: inherit !important;
    text-decoration: none !important;
} */